<div class="dice-roll" title="{{_formula}}">
  <div class="dice-result">
    <div class="roll-details">
      {{#each terms}}
        {{#ifObject this}}
          {{#each this.results}}
            <div class="attack-roll-die {{#if this.discarded}}discarded{{/if}}" title="d{{../this.faces}}">
              {{this.result}}
            </div>
          {{/each}}
        {{else}}
          {{this}}
        {{/ifObject}}
      {{/each}}
    </div>
  <h4 class="dice-total">{{_total}}</h4>
  </div>
</div>